<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdbootstrap@4.19.3/dist/css/mdb.min.css">

<!--* adding admin  -->

 Add new Branch<button class="btn btn-success" (click)="mode('adding')" *ngIf="!isaddingBranch"> addBranch</button>

<div class="container" *ngIf="isaddingBranch">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-5">
      <div class="card">
        <div class="card-body">

          <!-- Registration Form -->
          <form #form="ngForm" (ngSubmit)="addBranch(form,saveOrUpadate)">
            <h2 class="text-center mb-4">Add Branch</h2>
            <label>Selecet a Organization</label>
            <select class="form-control"   [(ngModel)]="selectedOrganization" name="Organization" (ngModelChange)="onOrganizationselection()" placeholder="Select a building">
              <option value="dknfvjd" selected [ngValue]="true" > dknfvjdv</option>
              <option *ngFor="let organization of listOfOrganizations" [value]=organization.organization_id   >{{ organization.organization_name }}</option>
            </select>

            <!-- Branch Name Field -->
            <div class="mb-4">
              <label for="branch-name" class="form-label">Branch Name</label>
              <input type="text" class="form-control" id="branch-name" placeholder="Enter branch Name" [(ngModel)]="newbranch.branch_name" [ngModelOptions]="{standalone: true}">
            </div>
            <!-- Branch Name Field -->
            <div class="mb-4">
              <label for="branch-location" class="form-label">Branch location</label>
              <input type="text" class="form-control" id="branch-location" placeholder="Enter branch location" [(ngModel)]="newbranch.branch_location" [ngModelOptions]="{standalone: true}">
            </div>
             <!-- Branch Name Field -->
             <div class="mb-4">
              <label for="organizaion-name" class="form-label">Branch Status</label><br>
             Active <input type="radio" [(ngModel)]="newbranch.status" value="active" name="status">
             Inactive <input type="radio" [(ngModel)]="newbranch.status" value="inactive" name="status">
            </div>

            <!-- Register Button -->
            <div class="text-center">
              <button type="submit" class="btn btn-success" *ngIf="saveOrUpadate">Register</button>&nbsp;
              <button type="submit" class="btn btn-warning" *ngIf="!saveOrUpadate">update</button>&nbsp;
              <button type="submit" class="btn btn-secondary " (click)="mode('display')">Cancle</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<table class="table" *ngIf="!isaddingBranch">
  <thead>
    <tr class="table-dark">
      <th scope="col">Branch Id</th>
      <th scope="col">Branch Name</th>
      <th scope="col">Branch Location</th>
      <th scope="col">Branch Satus</th>
      <th scope="col">Oranganization Name</th>
      <th scope="col" colspan="2" class="text-center">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr class="table-success" *ngFor="let branch of listBranches">
      <td>{{branch.branch_id}}</td>
      <td>{{branch.branch_name}}</td>
      <td>{{branch.branch_location}}</td>
      <td>{{branch.status}}</td>
      <td >{{getOrganizationName(branch.organization_id)}}</td>
      <td>
        <button class="btn btn-outline-danger btn-sm" (click)="deleteBranch(branch.branch_id)">
          <span class="fas fa-duotone fa-trash"></span>&nbsp;Delete
        </button>
      </td>
      <td>
        <button class="btn btn-outline-warning btn-sm" (click)="editing(branch.branch_id)">
        <span class="fas fa-light fa-pencil " style="color: #fbff00;" ></span>Edit
        </button>
      </td>
    </tr>

  </tbody>
</table>
