<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdbootstrap@4.19.3/dist/css/mdb.min.css">

<!--* adding admin  -->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 mt-5">
      <div class="card">
        <div class="card-body">

          <!-- Registration Form -->
          <form #form="ngForm" (ngSubmit)="addSubject(form)">
            <h2 class="text-center mb-4">Add Subject</h2>
            <!-- Subject Name Field -->
            <div class="mb-4">
              <label for="subject-name" class="form-label">Subject Name</label>
              <input type="text" class="form-control" id="subject-name" placeholder="Enter subject Name" [(ngModel)]="newsubject.subject_name" [ngModelOptions]="{standalone: true}">
            </div>
             <!-- Subject Name Field -->
             <div class="mb-4">
              <label for="subject-name" class="form-label">Subject Status</label><br>
             Active <input type="radio" [(ngModel)]="newsubject.status" value="active" name="status">
             Inactive <input type="radio" [(ngModel)]="newsubject.status" value="inactive" name="status">
            </div>

            <!-- Register Button -->
            <div class="text-center">
              <button type="submit" class="btn btn-primary">Save subject</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<table class="table" *ngIf="!isaddingsubject">
  <thead>
    <tr class="table-dark">
      <th scope="col">SN no</th>
      <th scope="col">Subject Id</th>
      <th scope="col">Subject Name</th>
      <th scope="col">Subject Satus</th>
      <th scope="col" colspan="2" class="text-center">Action</th>

    </tr>
  </thead>
  <tbody>
    <tr class="table-success" *ngFor="let subject of listOfSubjects;index as i">
      <td>{{i+1}}</td>
      <td>{{subject.subject_id}}</td>
      <td>{{subject.subject_name}}</td>
      <td>{{subject.status}}</td>
      <td>
        <button class="btn btn-outline-danger btn-sm" (click)="deleteSubject(subject.subject_id)">
          <span class="fas fa-duotone fa-trash"></span>&nbsp;Delete
        </button>
      </td>
      <td>
        <button class="btn btn-outline-warning btn-sm" (click)="editSubject(subject.subject_id)">
        <span class="fas fa-light fa-pencil " style="color: #fbff00;" ></span>Edit
        </button>
      </td>
    </tr>

  </tbody>
</table>
